////////////////////////////////////////////////////////
////                Color scheme
////////////////////////////////////////////////////////
$color-blue: #02459A;
$color-gray: #9A9A9A;
$color-lightGray: #F1F1F1;
$color-mediumGray: #E9E9E9;
$color-red: #C92124;

////////////////////////////////////////////////////////
////         Breakpoint vars (for custom mixin)
////////////////////////////////////////////////////////

$bp-xs: 575px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

////////////////////////////////////////////////////////
////             Breakpoints map  (boostrap)
////////////////////////////////////////////////////////

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

////////////////////////////////////////////////////////
////           Container width map (boostrap)
////////////////////////////////////////////////////////

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);
////////////////////////////////////////////////////////
////            Grid columns (boostrap)
////////////////////////////////////////////////////////

$grid-columns: 12;
$grid-gutter-width: 30px;
